!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip

.idea
.gitignore
bin/log
bin/old
bin/__pycache__
scripts*
bin/tmp*
bin/uroman.py-v*
bin/uroman.pl-v*
data/romanization-table.v*
data/romanization-table.txt~202*
data/UnicodeDataProps-v*
data/UnicodeData-v*
data/ISO-639-3-list.v*
data/NumPropsRejects.jsonl
data/UnicodeDataScripts.txt
data/UnicodeDataOverwrite2.txt
data/*~save
data/old
lib/NLP/Romanizer.pm-v*
lib/NLP/Romanizer.pm-save*
test/tmp*
test/multi-script-out*[1-9]*
test/multi-script.uroman*
test/diff*
test-large
to-do*
todo*

# old Perl uroman
bin/uroman.py
lib/NLP/Romanizer.pm
